                body {
                background: linear-gradient(90deg, #3c033e 0%, #c93051 100%);
            }
            
            .navbar .navbar-nav {
                display: inline-block;
                float: none;
                vertical-align: top;
            }
            
            .navbar .navbar-collapse {
                text-align: center;
            }
            
            nav div div ul a {
                color: rgb(255, 255, 255);
                font-size: large;
                font-family: 'Montserrat';
                text-transform: uppercase;
                font-weight: bold;
            }
            
            nav div div ul a:hover {
                color: rgb(255, 153, 0);
            }
            
            #brand:hover {
                color: rgb(255, 153, 0) !important;
            }
            
            .nav-link {
                margin-right: 20px;
            }
            
            .icon-bar {
                background: #fff !important;
            }
            
            .navbar-toggler {
                background: #fff;
            }
            
            .navbar-light .navbar-nav .nav-link {
                color: rgb(255, 255, 255);
            }
            
            .navbar-light .navbar-nav .active>.nav-link,
            .navbar-light .navbar-nav .nav-link.active,
            .navbar-light .navbar-nav .nav-link.show,
            .navbar-light .navbar-nav .show>.nav-link {
                color: #fff;
            }
            
            .navbar-light .navbar-nav .nav-link {
                color: #fff;
            }
            
            .navbar-brand {
                color: rgb(255, 255, 255);
                font-size: large;
                font-family: 'Montserrat';
                text-transform: uppercase;
                text-shadow: 5px 5px 4px rgb(0, 0, 0);
            }
            
            .nav-link {
                padding: 4px !important;
            }
            
            .navbar-nav .active {
                color: rgb(255, 153, 0);
            }
            
            footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.384);
                color: white;
                text-align: center;
            }
            footer p {
                margin: 0;
            }
         