.container{
    margin: 50px;
    padding-top: 50px;
}
.container #right{
    border-style: solid;
    border-color: rgba(129, 12, 84, 0.644);
    border-radius: 3%;
    border-width: 5px;
    box-shadow: 0 0  3px rgba(201, 46, 141, 0.644);
}
#right{
    text-align: center;
}
#right #loginlogo{
    padding-top: 30px;
    padding-bottom: 5px;
}
input[type="text"], input[type="password"], input[type="email"]
{
    background: transparent;
}
input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgba(129, 12, 84, 0.644);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: transparent;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255);
  }
 .inputvalues{
      color: rgb(255, 255, 255) !important;
      margin-bottom: 30px;
  }
  ::placeholder{
    color: white;
    opacity: 0.5;
  }
  #loginbutton, #registerbutton{
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      padding: 7px;
      padding-left: 45px;
      padding-right: 45px;
      background-color: rgba(114, 14, 117, 0.308);
      color: rgb(255, 255, 255);
      border: 2px solid rgba(129, 12, 84, 0.644);
      transition: all .1s ease-in-out;
      font-weight: bold;
  }

   #loginbutton:hover, #registerbutton:hover{
       transform: scale(1.1);
   }
    #right h1{
       font-size: 17px;
       font-weight: bold;
       color: white;
       margin: 0;
       margin-bottom: 55px;
   }
   #right h2{
    font-size: 15px;
    color: #3c033e;
   }
   h2 a{
    color:#b23eb6;
}
h2 a:hover{
    color:#dfc1e0;
}